[package]
name = "fidget"
version = "0.3.2"
edition = "2021"
license = "MPL-2.0"
repository = "https://github.com/mkeeter/fidget"
description = "Infrastructure for complex closed-form implicit surfaces"
authors = ["Matt Keeter <matt.j.keeter@gmail.com"]
readme = "../README.md"

[dependencies]
arrayvec = "0.7"
bimap = "0.6.3"
document-features = "0.2"
ieee754 = "0.2"
nalgebra = "0.31"
num-derive = "0.3"
num-traits = "0.2"
ordered-float = "3"
rand = "0.8.5"
static_assertions = "1"
thiserror = "1"
workspace-hack = { version = "0.1", path = "../workspace-hack" }
serde = { version = "1.0", features = ["derive", "rc"] }

# JIT
dynasmrt = { version = "2.0", optional = true }
libc = { version = "0.2", optional = true }

# Rhai
rhai = { version = "1.17", optional = true, features = ["sync"] }

# Meshing
crossbeam-deque = { version = "0.8", optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.54.0", features = ["Win32_Foundation", "Win32_System_Memory"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2", features = ["js"] }

[features]
default = ["jit", "rhai", "render", "mesh", "solver"]

## Enables fast evaluation via a JIT compiler.  This is exposed in the
## [`fidget::jit`](crate::jit) module, and is supported on macOS, Linux, and
## Windows (i.e. all supported platforms except WebAssembly).  There's no way to
## disable the feature on specific platforms
## ([Cargo issue](https://github.com/rust-lang/cargo/issues/1197));
## users will have to disable it manually via `default-features = false`.
jit = ["dep:dynasmrt", "dep:libc"]

## Enable [Rhai](https://rhai.rs/) bindings, in the
## [`fidget::rhai`](crate::rhai) module
rhai = ["dep:rhai"]

## Enable 2D and 3D rendering, in the [`fidget::render`](crate::render) module
render = []

## Enable 3D meshing, in the [`fidget::mesh`](crate::mesh) module
mesh = ["dep:crossbeam-deque"]

## Enable a system-of-equations solver, in the [`fidget::solver`](crate::solver)
## module
solver = []

## Enable `eval-tests` if you're writing your own evaluators and want to
## unit-test them.  When enabled, the crate exports a set of macros to test each
## evaluator type, e.g. `float_slice_tests!(...)`.
eval-tests = []

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }
approx = "0.5.1"

[[bench]]
name = "render"
harness = false

[[bench]]
name = "mesh"
harness = false

[[bench]]
name = "function_call"
harness = false

[lib]
bench = false
