name: Check native builds

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  check:
    strategy:
      matrix:
        include:
          - target: "aarch64-apple-darwin"
            native: true
          - target: "aarch64-pc-windows-msvc"
            native: false
          - target: "aarch64-unknown-linux-gnu"
            native: false
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/rust-cache
      with:
        cache-key: check-aarch64
    - uses: ./.github/actions/rust-check
      with:
        target: ${{ matrix.target }}
        native: ${{ matrix.native }}
