name: Check wasm build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  check:
    strategy:
      matrix:
        target: [
          "wasm32-unknown-unknown",
        ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-check
    - name: Install wasm target
      run: rustup target add ${{ matrix.target }}
    - name: Check
      # cargo check doesn't find MIR diagnostics, so we use cargo build instead
      # (https://github.com/rust-lang/rust/issues/49292)
      run: cargo build --target=${{ matrix.target }} -pfidget --no-default-features --features="rhai"
      env:
        RUSTFLAGS: --cfg getrandom_backend="wasm_js"
    - name: Clippy
      run: cargo clippy --target=${{ matrix.target }} -pfidget --no-default-features --features="rhai"
      env:
        RUSTFLAGS: --cfg getrandom_backend="wasm_js"
