name: Check native builds

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  check:
    strategy:
      matrix:
        target: [
          "aarch64-apple-darwin",
          "aarch64-pc-windows-msvc",
          "aarch64-unknown-linux-gnu",
        ]
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/rust-cache
      with:
        cache-key: check-aarch64
    - name: Install target
      run: rustup target add ${{ matrix.target }}
    - name: Check
      run: cargo check --target=${{ matrix.target }} --all-targets --verbose
    - name: Clippy
      run: cargo clippy --target=${{ matrix.target }} --all-targets --verbose
    - name: Check format
      run: cargo fmt -- --check || exit 1
