name: Check native builds

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  check:
    strategy:
      matrix:
        target: [
          "x86_64-unknown-linux-gnu",
          "x86_64-pc-windows-msvc",
        ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/rust-cache
      with:
        cache-key: check-x86_64
    - name: Install target
      run: rustup target add ${{ matrix.target }}
    - name: Check
      run: cargo check --target=${{ matrix.target }} --all-targets --verbose
    - name: Clippy
      run: cargo clippy --target=${{ matrix.target }} --all-targets --verbose
