name: constraints build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./demos/constraints
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/rust-cache
      with:
        cache-key: constraints
    - name: Install wasm target
      run: rustup target add wasm32-unknown-unknown
    - name: Install trunk
      run: |
        wget -qO- https://github.com/trunk-rs/trunk/releases/download/v0.20.2/trunk-x86_64-unknown-linux-gnu.tar.gz | tar -xzf-
    - name: Build wasm-demo
      run: ./trunk build --release

